*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  display:grid;
  grid-template-rows: auto 1fr auto;
  gap: 20px;
  min-height: 100vh;
  background-color:bisque;
  font-family: Karla, serif;

}

header{
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.logo {
  align-self: flex-start;
  transition: transform 1.5s;
}

.logo:hover{
  transform: rotate(360deg);
}

.nav {
  background-color: white;
  border-radius: 20px;
  font-size: 20px;
  align-self: flex-end;
  margin: 10px;
  font-weight: bold;
}

.nav ul{
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.nav li {
    display: flex;
    padding: 20px;
}

a:hover{
  color: green;
}

a:active{
  color:red;
}

a:focus{
  color:blue;
}

.hero{
  display: flex;
  background-color: #495E57;
  justify-content: center;
  padding: 1rem;
  gap: 2rem;
}

.hero_text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* odstęp między h1, h2 i p */
}

.hero_text h1 {
  text-align: left;
  color: #F4CE14;
  margin-left: 1rem;
  font-family: Markazi Text, serif;
  font-size: 64px;
}

.hero_text h2 {
  text-align: left;
  margin-left: 1rem;
  font-family: Markazi Text, serif;
  font-size: 40px;
}
 .hero_text p{
  text-align: left;
  margin-left: 1rem;
  font-size: 18px;
}

.hero_image {
  display: flex;
  align-items: center;
  gap: 1rem;
}

  .button_hero {
  background-color: #F4CE14;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  width:10rem;
  margin-left: auto;
  font-weight: bold;
  transition: transform 0.5s;
  }

  .button_hero:hover{
    transform:scale(1.2);
  }

 .hero img{
  display: block;
  align-self: center;
  box-shadow: 0 4px 10px wheat;
    }


.highlights{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 1rem;
  
}

.highlights img{
  box-shadow:0 4px 10px #495E57;
  border-radius: 20px;
}

.highlights h2{
    font-size: 18px;
    font-weight: bold;}

  .highlights p{
    font-size: 16px;
  }
  .highlights h3{
    font-size: 18px;
    font-weight: bold;
    color: red;}
  


.main_highlights h1{
  font-size: 16px;
  font-weight: bold;
}

.main_highlights {
  display: flex;
  align-items: center; /* wyrównanie pionowe */
  margin: 2rem;
  justify-content: center;
  gap: 10rem;
}

  .button_main {
  background-color: #F4CE14;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  width:10rem;
  font-weight: bold;


  }

 article {
  display: flex;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  flex-direction: column;
  gap: 10px;
  text-align: left;

}
article h2{
  font-size: 18px;}

article p{
  font-size: 16px;
  }

.testimonials{
  display: flex;
  gap:20px;
  justify-content: center;
  padding: 3rem;
}

.testimonials h1{
  font-size: 18px;
}

.testimonials_form{
  display: flex;
  gap:20px;
  justify-content: center;
  padding: 3rem;
}
  .button_testimonials {
  background-color: #F4CE14;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  width:10rem;

  }

.about{
  display: flex;
  justify-content: left;
  padding: 2rem;
}

.about img{
    width:15rem;
    height:15rem;
    object-fit: cover;
    border-radius: 20px ;
    box-shadow: 2px 5px 10px #495E57;
  }

  .about h3{
    text-align: left;
    align-self: center;
    font-size: 18px;
  }
  .about article{
    display: flex;
    flex-flow: row wrap;
    background-color: bisque;
    gap: 1rem;
  }

footer {
  display: flex;
  justify-content: space-between; /* logo left, articles center, copyright right */
  align-items: flex-end;        /* wyrównanie pionowe */
  padding: 2rem;
  gap: 2rem;
}

 footer img { width: 100px;
  height: 100px;
  padding: 5px; }

 .footer_nav{
   display: flex;
    gap: 2rem;
    background-color: bisque;
      }

      .footer_nav li{
        list-style-type: none;
      }

 .footer_article{
  background-color: bisque;
  gap: 10px;
  padding: 1rem; }

  .footer_section{
    display: flex;
  }

  footer h1 {
          font-size: 18px;
  }